.headerBtn {
    width: 150px;
    padding : 16px;
    background-color : #4695c5;
    margin: 2% 1% 1% 1%;
}

.uptModalBtn{
    width: 150px;
    padding : 16px;
    background-color : #4695c5;
    margin: 2% 1% 1% 1%; 
}